# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Node files
node_modules/
npm-debug.log

# Python files
__pycache__/
.venv/

# Linting, test, deploy and documentation files
.pytest_cache/
.coverage

# Build files
dist*
*.egg-info/

# Secret files
.env
