# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Node files
node_modules/
npm-debug.log

# Compiled files
lib

# Secret files
.env

# Build files
dist_*/
*.egg-info/

# Misc
.DS_Store
pycache/
.venv/
.pytest_cache/
