# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Node files
node_modules/
npm-debug.log

# Compiled files
lib

# Secret files
.env

# Build files
grndwork_python_client.egg-info/

# Misc
.DS_Store
